@font-face {
    src:
      url("../fonts/GothamPro.woff2") format("woff2"),
      url("../fonts/GothamPro.woff") format("woff");
    font-family: "GothPro";
    font-weight: 400;
    font-style: normal;    
}

@font-face {
    src:
      url("../fonts/Arial.woff2") format("woff2"),
      url("../fonts/Arial.woff") format("woff");
    font-family: "Arial";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src:
      url("../fonts/Arial-Bold.woff2") format("woff2"),
      url("../fonts/Arial-Bold.woff") format("woff");
    font-family: "Arial";
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.main {
    position: relative;
    margin: 30px auto;
    padding: 0 10px;
    width: 310px;    
    font-family: "Arial", sans-serif;
    color: #555;
}

.donut__wrapper {
    position: relative;
}

.donut__wrapper::after {
    position: absolute;
    content: "";    
    left: 50%;
    top: 0;;
    width: 40px;
    height: 48px;
    transform: translateX(-50%);
    background-image: url("../img/loyalty.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

.donut__hole {   
    text-anchor: middle;
}

.donut__title {    
    font-family: "GothPro", Verdana, sans-serif;   
    
}
.donut__number-one {    
    font-size: 0.4em;
    transform: translateX(-0.3em);    
}
.donut__number-two {    
    font-size: 0.2em;
    transform: translateX(0.9em);   
}
.donut__percent {    
    font-size: 0.12em;
    transform: translate(1.7em, -1.7em)    
}

.donut__loyal {
    font-size: 0.2em;
    font-weight: bold;    
}

.donut__submiddle {
    font-size: 0.15em;
    font-weight: bold;    
}

.donut__description {        
    font-size: 0.1em;    
}

.donut__sub-number {   
    transform: translateX(0.2em);
    font-size: 1.4em; 
}

.aside-element-1 {
    position: absolute;
    left: 2px;
    top: 100px;    
}
.aside-element-2 {
    position: absolute;
    left: -23px;
    top: 270px;    
}

.description {
    margin: 0 auto;
    width: 240px;
}

.category {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 0.8em;
}

.category:not(:last-child) {
    margin-bottom: 15px;
}

.category__person {
    margin: 0;
    width: 35%;
}

.category__proportion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15%;   
}

.category__percent {
    margin: 0;
    margin-bottom: 5px;
}

.category__number {
    position: relative;
    margin: 0;
    padding-right: 20px;
    min-width: 30px;
    font-weight: 400;
}

.category__number::after {
    position: absolute;
    content: "";    
    right: 0;
    bottom: 2px;
    width: 14px;
    height: 14px;
    background-image: url("../img/human_full.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.category__info {
    position: relative;
    display: flex;
    align-items: stretch;    
    width: 35%;
    background-color: #f9f9f9;
}

.category__info::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 0;
    z-index: 1;
    width: 28px;
    height: 2px;
    background-color: #ececec;
}

.category__info::after {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 0;
    z-index: 1;
    width: 28px;
    height: 2px;
    background-color: #ececec;
}

.category__lines {
    z-index: 2;
    width: 31px;
    height: 33px;    
}

.category__line-wide {
    border: 1px solid transparent;
    border-top-left-radius: 5px;    
}

.category__line-wide--1 {
    width: 95%;
    height: 26px;
    background-color: #70a74b;
}

.category__line-wide--2 {
    width: 100%;
    height: 26px;
    background-color: #fbd229;
}

.category__line-wide--3 {
    width: 85%;
    height: 26px;
    background-color: #ed5243;
}

.category__line-thin {
    border: 1px solid transparent;
    border-bottom-left-radius: 5px;    
}

.category__line-thin--1 {
    width: 80%;
    height: 7px;
    background-color: #b5d0a2;
}
.category__line-thin--2 {
    width: 80%;
    height: 7px;
    background-color: #fae691;
}
.category__line-thin--3 {
    width: 100%;
    height: 7px;
    background-color: #f3a69e;
}
  
.category__info-value {    
    flex-grow: 1;
    margin: 0;
    border: 2px solid #ececec;
    border-left: 0;
    border-radius: 0 5px 5px 0;
    padding: 10px 0 0 11px;    
    font-weight: 400;
}


